@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

:root {
  --border-radius: 6px;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0e0d11;
  font-family: 'Nunito', sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.counter {
  height: 100vh;
  padding: 1rem;
}

.counter__title {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 2rem;
  color: orange;
}

.card {
  background-color: #ffffff;
  width: 100%;
  max-width: 30rem;
  color: rgb(10, 10, 10);
  padding: 2rem;
  border-radius: var(--border-radius);
}

.btn {
  border: none;
  padding: 0.1rem 0.6rem;
  border-radius: var(--border-radius);
  font-size: 1.6rem;
  transition: all 0.3s;
  margin: 0 0.2rem;
  padding: 6px 24px;
  cursor: pointer;
  background-color: rgb(80, 62, 236);
  color: #ffffff;
}

.btn:hover {
  background-color: rgb(101, 84, 255);
}

.btn:disabled {
  background-color: rgb(255, 8, 41);
}
